<div class="container-fluid">

  <h1 class="heading-low text-center">Starterkit</h1>

  <div class="row">
    <div class="col-sm-9 text-center mx-auto py-5">
      <p class="body-medium-default">Welcome to the comprehensive resource for efficiently
        cloning Angular UI code repositories and obtaining the Figma files from Atmosphere's Design
        Language System (DLS). </p>
    </div>
  </div>

  <div class="row  mb-5">
    <div class="col-sm-9 mx-auto">
           <p>This kit is intended to support developers in rapidly establishing
        compliant user interfaces, while providing
        designers with examples of various component and behaviors, and templates featuring accurate variables, colors,
        and
        measurements. </p>

      <!-- <p>Refer to the templates and components sections in the navigation to
        review examples constructed in accordance
        with Atmosphere DLS standards.</p> -->
      <div class="row  mt-5">

    <div class="col-sm-4 mb-2">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Design</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><a href="#">Components</a></p>
          <p><a href="#">Assets</a></p>
          <p><a href="#">Starterkit</a></p>
          <p><a href="#">Dochub</a></p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-4  mb-2">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Develop repos</mat-card-title>
          <!-- <mat-card-subtitle>code</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <p><a href="https://github.com/jeppesen-foreflight/starterkit" target="_blank">Angular (v19)</a></p>
          <p><a href="https://github.com/jeppesen-foreflight/dls-global-assets" target="_blank">Assets</a></p>
          <p><a href="https://github.com/jeppesen-foreflight/starterkit" target="_blank">Starterkit</a></p>
          <p><a href="https://github.com/jeppesen-foreflight/dls-global-assets" target="_blank">Dochub</a></p>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="col-sm-4 mb-2">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Documentation and Storybook</mat-card-title>
          <!-- <mat-card-subtitle>subhead</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <p><a href="#">Link to hub</a></p>
          <p><a href="#">Storybook</a></p>
          <p><a href="#">Repo</a></p>
          <p><a href="#">Figma file</a></p>

        </mat-card-content>
      </mat-card>
    </div>



    </div>

  </div>

  <!-- <div class="row">

    <div class="col">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Version 19</mat-card-title>
        </mat-card-header>

    <mat-card-content>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <p><a href="#">Storybook</a></p>
              <p><a href="#">Documentation Hub</a></p>
              <p><a href="https://jdmp-ui-prototypes.jdmp-demo1.jeppesen.com/starterkit/v19/">Starterkit</a></p>
            </div>
          </div>
          <div style="margin-top: 24px">
            <div class="row">
              <div class="col">
                <p class="body-low-highlight">Development (repos)</p>
                <p><a href="#">Angular</a></p>
                <p><a href="#">Assets</a></p>
                <p><a href="#">Starterkit</a></p>
              </div>

              <div class="col">
                <p class="body-low-highlight">Design (Figma)</p>
                <p><a href="#">Components</a></p>
                <p><a href="#">Assets</a></p>
                <p><a href="#">Starterkit</a></p>
              </div>

            </div>
          </div>
        </div>
      </mat-card-content>
      </mat-card>
    </div>
  </div> -->
