<h1 class="heading-low">Starterkit</h1>

<div class="intro-text">
    <p>Welcome to the Starterkit — a comprehensive resource for efficiently
      cloning Angular UI code repositories and obtaining Figma libraries, fully
      aligned with the Atmosphere Design
      Language System (DLS). </p>

    <p>This kit is intended to support developers in rapidly establishing
      compliant user interfaces, while providing
      designers with templates featuring accurate component behaviors,
      variables, colors,
      and measurements.</p>

    <p>Please refer to the templates and components section in the navigation to
      review examples constructed in accordance
      with Atmosphere DLS standards.</p>
  </div>

  <div class="card-grid">

    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Design</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><a href="#" aria-label="Go to Components">Components</a></p>
          <p><a href="#" aria-label="Go to Assets">Assets</a></p>
          <p><a href="#" aria-label="Go to Starterkit">Starterkit</a></p>
          <p><a href="#" aria-label="Go to Dochub">Dochub</a></p>
        </mat-card-content>
      </mat-card>

    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Develop repos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><a
              href="https://github.com/jeppesen-foreflight/dp-dls-global-angular"
              target="_blank" rel="noopener noreferrer"
              aria-label="Open Angular v20 repository (opens in new window)">Angular
              (v20)</a></p>
          <p><a
              href="https://github.com/jeppesen-foreflight/dp-dls-global-assets"
              target="_blank" rel="noopener noreferrer"
              aria-label="Open Assets repository (opens in new window)">Assets</a></p>
          <p><a
              href="https://github.com/jeppesen-foreflight/dp-dls-global-starterkit"
              target="_blank" rel="noopener noreferrer"
              aria-label="Open Starterkit repository (opens in new window)">Starterkit</a></p>
          <p><a href="https://github.com/jeppesen-foreflight/dp-dls-global-docs"
              target="_blank" rel="noopener noreferrer"
              aria-label="Open Dochub repository (opens in new window)">Dochub</a></p>
        </mat-card-content>
      </mat-card>


    <mat-card appearance="outlined">
        <mat-card-header>
        <mat-card-title>Documentation and Storybook</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><a href="#" aria-label="Go to Link hub">Doc Hub</a></p>
      <p><a href="#" aria-label="Go to Link hub">Doc Hub</a></p>
      <p><a href="#" aria-label="Go to Storybook">Storybook</a></p>
    </mat-card-content>
  </mat-card>
</div>