<!-- <div class="d-flex align-items-center alert alert-warning" role="alert">
  <mat-icon class="me-2" svgIcon="icon-warning-filled"></mat-icon>
  Check density in both modes
  </div> -->


    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox [disabled]="true">Disabled</mat-checkbox>


  <mat-divider />


      <mat-checkbox [checked]="task().completed"
        [indeterminate]="partiallyComplete()"
        (change)="update($event.checked)"
      >
        {{task().name}}
      </mat-checkbox>
      <span>
      <ul>
        @for (subtask of task().subtasks; track subtask; let i = $index) {
          <li>
            <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)">
              {{subtask.name}}
            </mat-checkbox>
          </li>
        }
      </ul>
    </span>


