<div class="container-fluid">

  <h1 class="heading-low">Typography</h1>

  <p>There are 5 categories of font types defined:</p>

  <p class="body-high-default">TO DO: Add spacing - requires parity with figma (?)</p>

  <div class="typography-group">
    <div class="typography-title title-medium">display</div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--display-high</div>
      </div>
      <div class="display-high">Display high</div>
      <div class="typography-variable">
        <div class="surface-variable">
          <p>size: 72px / 4.5rem</p>
          <p>weight: 300</p>
          <p>letter-spacing: -0.20000000298023224px;</p>
          <p>line-height: 82px / 5.125rem</p>
        </div>
      </div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--display-medium</div>
      </div>
      <div class="display-medium">Display medium</div>
    </div>


  </div>

  <div class="typography-group">
    <div class="typography-title title-medium">heading</div>
    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--heading-high</div>
      </div>
      <div class="heading-high">Heading high</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--heading-medium</div>
      </div>
      <div class="heading-medium">Heading medium</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--heading-low</div>
      </div>
      <div class="heading-low">Heading low (h1)</div>
    </div>


  </div>

  <div class="typography-group">
    <div class="typography-title title-medium">title</div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--title-high</div>
      </div>
      <div class="title-high">Title high (h2)</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--title-medium</div>
      </div>
      <div class="title-medium">Title medium (h3)</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--title-low</div>
      </div>
      <div class="title-low">Title low (h4)</div>
    </div>
  </div>

  <div class="typography-group">
    <div class="typography-title title-medium">body</div>
    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--body-high-default</div>
      </div>
      <div class="body-high-default">Body high</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--body-medium-default</div>
      </div>
      <div class="body-medium-default">Body medium</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--body-low-default</div>
      </div>
      <div class="body-low-default">Body low</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--body-lowest-default</div>
      </div>
      <div class="body-lowest-default">Body lowest</div>
    </div>
  </div>

  <div class="typography-group">
    <div class="typography-title title-medium">Label</div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--label-high</div>
      </div>
      <div class="label-high">Label high</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--label-medium</div>
      </div>
      <div class="label-medium">Label medium</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--label-low</div>
      </div>
      <div class="label-low">Label low</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--label-lowest</div>
      </div>
      <div class="label-lowest">Label lowest</div>
    </div>

    <div class="typography-example">
      <div class="typography-variable">
        <div class="surface-variable">--label-lowest2</div>
      </div>
      <div class="label-lowest2">Label lowest 2</div>
    </div>






  </div>

  <br />

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="text-danger">
            Important!
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <p> HTML semantic structures are rendered obsolete if you
            incorrectly assign a class. For example, do not assign "Heading High" to a P tag. Conversely, do not add
            a "body-low-default" class to H1-H4 tags.</p>

          <h1 class="heading-low">h1 + .heading-low</h1>
          <h2 class="title-high">h2 + .title-high</h2>
          <h3 class="title-medium">h3 + .title-medium</h3>
          <h4 class="title-low">h4 + .title-low</h4>
        </mat-card-content>

      </mat-card>

    </div>
    <div class="col">
      <mat-card appearance="raised">
        <mat-card-header>
          <mat-card-title>Known issues</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ol>
            <li>
              <p>In Angular, the default paragraph style does not automatically load. Manually add a body class to the
                index.html page:</p>

              <div class="p-5 border m-5">
                <img src="assets/images/typography.png" />
              </div>
            <li>
              Title-lowest is not mapped to any html tag and does not render the style correctly
            </li>
            <li>Code for
              <span class="body-low-highlight">mat-card-content</span> doesn't follow padding rules
            </li>
          </ol>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <div class="p-5 mb-5 border border-danger">
        <p class="body-medium-default mb-3"> Body classes that do not load in [mat-card-content]:</p>
        <p class="body-high-default">Body high</p>
        <p class="body-medium-default">Body medium</p>
        <p class="body-low-default">Body low</p>
        <p class="body-lowest-default">Body lowest </p>
      </div>
      <mat-card appearance="raised">

        <mat-card-header>
          <mat-card-title>Matcard title</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h6 class="text-danger">These P classes do not load in content block:</h6>
          <p class="body-high-default">Body high</p>
          <p class="body-medium-default">Body medium</p>
          <p class="body-low-default">Body low</p>
          <p class="body-lowest-default">Body lowest </p>
        </mat-card-content>
      </mat-card>


    </div>
  </div>
