   <h1 class="heading-low">Typography</h1>

  <p class="body-medium-default">There are 5 categories of font types
    defined: display, heading, title, body, and label. <span class="body-medium-highlight">These values are based on the base-font size of your application</span>. I.e., if you change the base font size, these values will scale accordingly. Examples shown here are based on  <span class="body-medium-highlight">.body-low-default - 14px</span>.</p>

  <p>TO DO: Add spacing attached to each style - add to figma components too</p>

  <h3 class="title-high">Display</h3>

  <div class="typography-card-grid typography-card-grid-2">

      <mat-card>
        <h1 class="display-high">Display/High</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>72px / 5.143rem</p>
            <p class="label-lowest2">Line height</p>
            <p>82px / 5.857rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>300</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>-2% / -0.02em</p>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <h1 class="display-medium">Display/Medium</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>64px / 4.571rem</p>
            <p class="label-lowest2">Line height</p>
            <p>74px / 5.286rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>300</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>-2% / -0.02em</p>
          </div>
        </div>
      </mat-card>
  </div>

  <h3 class="title-high">Heading</h3>
  <div class="typography-card-grid typography-card-grid-3 heading-section">
      <mat-card>
        <h1 class="heading-high">Heading/High</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>56px / 4rem</p>
            <p class="label-lowest2">Line height</p>
            <p>66px / 4.714rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>700</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <h1 class="heading-medium">Heading/Medium</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>46px / 3.286rem</p>
            <p class="label-lowest2">Line height</p>
            <p>54px / 3.857rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>700</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <h1 class="heading-low">Heading/Low</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>36px / 2.571rem</p>
            <p class="label-lowest2">Line height</p>
            <p>42px / 3rem </p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>700</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>
  </div>

  <h2 class="title-high">Title</h2>
  <div class="typography-card-grid typography-card-grid-3 title-section">
      <mat-card>
        <h1 class="title-high">Title/High</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>28px / 2rem</p>
            <p class="label-lowest2">Line height</p>
            <p>34px / 2.429rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>500</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <h1 class="title-medium">Title/Medium</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>22px / 1.571rem</p>
            <p class="label-lowest2">Line height</p>
            <p>28px / 2rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>500</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <h1 class="title-low">Title low</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>18px / 1.286rem</p>
            <p class="label-lowest2">Line height</p>
            <p>22px / 1.375rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>500</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>
  </div>

  <h3 class="title-high">Body</h3>
  <div class="typography-card-grid typography-card-grid-2">
      <mat-card>
        <h1 class="body-high-highlight">Body/High/Highlight</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>24px / 1.714rem</p>
            <p class="label-lowest2">Line height</p>
            <p>34px / 2.125rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>700</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <h1 class="body-high-default">Body/High/Default</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>24px / 1.714rem</p>
            <p class="label-lowest2">Line height</p>
            <p>34px / 2.429rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>400</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <h1 class="body-medium-highlight">Body/Medium/Highlight</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>16px / 1.143rem</p>
            <p class="label-lowest2">Line height</p>
            <p>22px / 1.571rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>700</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <h1 class="body-medium-default">Body/Medium/Default</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>16px / 1.143rem</p>
            <p class="label-lowest2">Line height</p>
            <p>22px / 1.571rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>300</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>none</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <h1 class="body-low-highlight">Body/Low/Highlight</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>14px / 0.875rem</p>
            <p class="label-lowest2">Line height</p>
            <p>20px / 1.25rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>700</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>2% / 0.02em</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <h1 class="body-low-default">Body/Low/Default</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>14px / 1rem</p>
            <p class="label-lowest2">Line height</p>
            <p>20px / 1.429rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>400</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>2% / 0.02em</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <p class="body-lowest-highlight">Body/Lowest/Highlight</p>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>12px / 0.857rem</p>
            <p class="label-lowest2">Line height</p>
            <p>16px / 1.143rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>700</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>2% / 0.02em</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <h1 class="body-lowest-default">Body/Lowest/Default</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>12px / 0.857rem</p>
            <p class="label-lowest2">Line height</p>
            <p>16px / 1.143rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>400</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>2% / 0.02em</p>
          </div>
        </div>
      </mat-card>
  </div>

  <h3 class="title-high">Label</h3>

  <div class="typography-card-grid typography-card-grid-3 label-section">

      <mat-card>
        <h1 class="label-high">Label/High</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>14px / 0.875rem</p>
            <p class="label-lowest2">Line height</p>
            <p>20px / 1.4rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>700</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>2% / 0.02em</p>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <h1 class="label-medium">Label/Medium</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>14px / 1rem</p>
            <p class="label-lowest2">Line height</p>
            <p>20px / 1.42rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>500</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>2% / 0.02em</p>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <h1 class="label-low">Label low</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>12px / 0.857rem</p>
            <p class="label-lowest2">Line height</p>
            <p>16px / 1.14rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>500</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>2% / 0.02em</p>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <h1 class="label-lowest">Label/Lowest</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>11px / 0.786rem</p>
            <p class="label-lowest2">Line height</p>
            <p>16px / 1.14rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>500</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>4% / 0.04em</p>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <h1 class="label-lowest2">Label/Lowest2</h1>
        <mat-divider />
        <div class="typography-details">
          <div class="typography-details-column">
            <p class="label-lowest2">Size</p>
            <p>10px / 0.714rem</p>
            <p class="label-lowest2">Line height</p>
            <p>16px / 1.143rem</p>
          </div>
          <div class="typography-details-column">
            <p class="label-lowest2">Weight</p>
            <p>500</p>
            <p class="label-lowest2">Letter spacing</p>
            <p>4% / 0.04em</p>
          </div>
        </div>
      </mat-card>




  <!-- 
    <mat-divider />

    <h1
      class="display-high">[h1.display-high]
      Display High </h1>
    <h1
      class="display-medium">[h1.display-medium]
      Display Medium
    </h1>
    <h1
      class="heading-high">[h1]
      Heading High </h1>
    <h2
      class="heading-medium">[h2]
      Heading Medium
    </h2>

    <h4
      class="title-high">[h4]
      Title High </h4>
    <h5
      class="title-medium">[h5]
      Title Medium </h5>
    <h6
      class="title-low">[h6]
      Title Low </h6>

    <p
      class="body-high-default">[p.body-high-default]
      Body High </p>
    <p
      class="body-high-highlight">[p.body-high-highlight]
      Body High
      Highlight</p>
    <p
      class="body-medium-default">[p.body-medium-default]
      Body Medium
      Default </p>
    <p
      class="body-medium-highlight">[p.body-medium-highlight]
      Body Medium
      Highlight</p>
    <p
      class="body-low-default">[p.body-low-default]
      Body Low
      Default</p>
    <p
      class="body-low-highlight">[p.body-low-highlight]
      Body Low
      Highlight</p>
    <p
      class="body-lowest-default">[p.body-lowest-default]
      Body Lowest
      Default</p>
    <p
      class="label-high">[p.label-high]
      Label High </p>
    <p
      class="label-medium">[p.label-medium]
      Label Medium </p>
    <p
      class="label-low">[p.label-low]
      Label Low </p>
    <p
      class="label-lowest">[p.label-lowest]
      Label Lowest</p>
    <p
      class="label-lowest2">[p.label-lowest-2]
      Label Lowest 2</p>
  </div> -->