<div class="d-flex align-items-center alert alert-warning" role="alert">
  <mat-icon class="me-2" svgIcon="icon-warning-filled"></mat-icon>
   For warn: checkmark color should be red and nub should be white? "Toggle off" action jerks backwards a little.
    Outlines in "off" mode seem too thick, should the scale be the same as the horizontal line in the nub?
  </div>



 <p><mat-slide-toggle labelPosition="before" [disabled]="false">Text before (Accent color is
      default)</mat-slide-toggle></p>

  <p><mat-slide-toggle color="warn" labelPosition="after" [disabled]="false">Text After (Warn)</mat-slide-toggle></p>



