<div class="d-flex">
  <!-- <div style="padding-left: 24px; padding-top: 24px" class="align-items-end">
    <mat-icon svgIcon="icon-error"></mat-icon>
  </div> -->

  <div style="padding-right: 6px; margin-top: 6px;" class="align-items-end ms-auto">
    <button mat-icon-button color="primary" mat-dialog-close="true">
      <mat-icon svgIcon="icon-close"></mat-icon>
    </button>
  </div>
</div>

<h2 mat-dialog-title class="title-high">This is the mat-dialog-title tag</h2>

<mat-dialog-content>

  <div class="row">

    <div class="col">
      <mat-form-field>
        <mat-label>Device Name</mat-label>
        <input matInput required>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select required>
          <mat-option value="mobile" selected>Current</mat-option>
          <mat-option value="desktop">Out of date</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput required>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput required>
      </mat-form-field>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="col-sm-6">
     <mat-form-field>
        <mat-label>Serial #</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

  </div>

  <div class="row">

    <div class="col-4">
        <mat-form-field>
        <mat-label>Distribution Group</mat-label>
        <mat-select>
          <mat-option value="1">Group 1</mat-option>
          <mat-option value="2">Group 2</mat-option>
          <mat-option value="3">Group 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field>
        <mat-label>Asset Tag #</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field>
        <mat-label>Serial #</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

  </div>

</mat-dialog-content>

<mat-dialog-actions class="d-flex">
  <button class="me-auto" mat-stroked-button color="accent" mat-dialog-close="true">Add to Sim</button>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>
