<h5>Top App Bar</h5>

<h6 class="mt-5">Standard</h6>
<ba-top-app-bar
    appLogo="boeing-logomark"
    appName="Standard"
    homeRoute="/"
>
  <div class="actions large-screen">
    <button mat-icon-button matTooltip="Primary" color="primary" aria-label="icon-button with a notifications icon">
      <mat-icon svgIcon="icon-notifications"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Primary" color="primary" aria-label="icon-button with a settings icon">
      <mat-icon svgIcon="icon-settings"></mat-icon>
    </button>
  </div>
  <div class="actions small-screen">
    <button mat-icon-button matTooltip="Primary" color="primary" [matMenuTriggerFor]="overflowMenu" aria-label="icon-button with a more vertical icon">
      <mat-icon svgIcon="icon-more-vert"></mat-icon>
    </button>
    <mat-menu #overflowMenu="matMenu">
      <button mat-menu-item>
        <mat-icon svgIcon="icon-notifications">Notifications</mat-icon>
        <span>Notifications</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="icon-settings">Settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-menu>
  </div>
  
  <div class="divider-parent">
    <mat-divider vertical="true"></mat-divider>
  </div>
  
  <ba-user-profile clickable class="avatar" userFirstName="William" [matMenuTriggerFor]="menuUserLetter"></ba-user-profile>
  <mat-menu #menuUserLetter="matMenu">
    <button mat-menu-item class="user-info-menu-item">
        <ba-user-profile variant="display-only" userFirstName="William"></ba-user-profile>
        <div class="user-info">
        <span class="user-name">Name</span>
        <span class="additional-info">Additional info</span>
        </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <span>Profile</span>
    </button>
    <button mat-menu-item>
        <span>Preferences</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <mat-icon svgIcon="icon-question-mark">question-mark</mat-icon>
        <span>Help and tutorials</span>
    </button>
    <button mat-menu-item>
        <mat-icon svgIcon="icon-power-settings-new">power-settings-new</mat-icon>
        <span>Sign out</span>
    </button>
  </mat-menu>
</ba-top-app-bar>


<h6 class="mt-5">Hamburger Variant</h6>
<ba-top-app-bar 
    appLogo="boeing-logomark"
    appName="with Hamburger button"
    hamburgerMenuOnly
    menuAlignCenter
>
  <div class="actions large-screen">
    <button mat-icon-button matTooltip="Primary" color="primary" aria-label="icon-button with a help icon">
      <mat-icon svgIcon="icon-help"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Primary" color="primary" aria-label="icon-button with a notifications icon">
      <mat-icon svgIcon="icon-notifications"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Primary" color="primary" aria-label="icon-button with a settings icon">
      <mat-icon svgIcon="icon-settings"></mat-icon>
    </button>
  </div>
  <div class="actions small-screen">
    <button mat-icon-button matTooltip="Primary" color="primary" [matMenuTriggerFor]="overflowMenu" aria-label="icon-button with a more vertical icon">
      <mat-icon svgIcon="icon-more-vert"></mat-icon>
    </button>
    <mat-menu #overflowMenu="matMenu">
      <button mat-menu-item>
        <mat-icon svgIcon="icon-help">Help</mat-icon>
        <span>Help</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="icon-notifications">Notifications</mat-icon>
        <span>Notifications</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="icon-settings">Settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-menu>
  </div>
  <div class="divider-parent"> <mat-divider vertical="true"></mat-divider></div>

  <ba-user-profile clickable class="avatar" userFirstName="William" [matMenuTriggerFor]="menuUserLetter"></ba-user-profile>
  <mat-menu #menuUserLetter="matMenu">
    <button mat-menu-item class="user-info-menu-item">
        <ba-user-profile variant="display-only" userFirstName="William"></ba-user-profile>
        <div class="user-info">
        <span class="user-name">Name</span>
        <span class="additional-info">Additional info</span>
        </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <span>Profile</span>
    </button>
    <button mat-menu-item>
        <span>Preferences</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <mat-icon svgIcon="icon-question-mark">question-mark</mat-icon>
        <span>Help and tutorials</span>
    </button>
    <button mat-menu-item>
        <mat-icon svgIcon="icon-power-settings-new">power-settings-new</mat-icon>
        <span>Sign out</span>
    </button>
  </mat-menu>
</ba-top-app-bar>

