<div class="container-fluid mt-3">

  <h2 class="title-high">Badge</h2>

  <div class="demo-section">
    Button with a badge on the left
    <button mat-stroked-button color="primary" matBadge="8" matBadgePosition="before">
      Action
    </button>
  </div>

  <div class="demo-section">
    Button toggles badge visibility
    <button mat-stroked-button color="accent" matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      Hide
    </button>
  </div>

  <div class="demo-section">
    Icon with a badge
    <mat-icon matBadge="15" svgIcon="icon-home-filled">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </div>

</div>
