<div class="container-xl">

  <h1 class="heading-low">Starterkit versions</h1>

  <div class="row">
    <div class="col-sm-3 col-md-3">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Version 20</mat-card-title>
          <mat-card-subtitle>latest</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a mat-flat-button
            href="https://git.web.boeing.com/design/design-system/angular-starter-kit/-/tree/starterkit-20?ref_type=heads"
            color="accent" target="_blank">Code</a>
          <a mat-flat-button href="https://jdmp-ui-prototypes.jdmp-demo1.jeppesen.com/starterkit/v20/"
            target="_blank">View</a>
          <a mat-stroked-button href="" target="_blank" disabled="">Figma</a>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-3 col-md-3">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Version 19</mat-card-title>
          <mat-card-subtitle>available</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a mat-flat-button color="accent"
            href="https://git.web.boeing.com/design/design-system/angular-starter-kit/-/tree/starterkit-19?ref_type=heads"
            target="_blank">Code</a>
          <a mat-flat-button href="https://jdmp-ui-prototypes.jdmp-demo1.jeppesen.com/starterkit/v19/"
            target="_blank">View</a>
          <a mat-stroked-button href="" color="accent" target="_blank" disabled="">Figma</a>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-3 col-md-3">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Version 18</mat-card-title>
          <mat-card-subtitle>available</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a mat-flat-button
            href="https://git.web.boeing.com/design/design-system/angular-starter-kit/-/tree/starterkit-18?ref_type=heads"
            color="accent" target="_blank">Code</a>
          <a mat-flat-button href="https://jdmp-ui-prototypes.jdmp-demo1.jeppesen.com/starterkit/"
            target="_blank">View</a>
          <a mat-stroked-button href="" color="accent" target="_blank" disabled="">Figma</a>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-3 col-md-3">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Version 17</mat-card-title>
          <mat-card-subtitle>unsupported</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a mat-flat-button href="https://git.web.boeing.com/design/design-system/angular-starter-kit/" color="accent"
            target="_blank" disabled>Code</a>
          <a mat-flat-button href="https://jdmp-ui-prototypes.jdmp-demo1.jeppesen.com/starterkit/v20/" target="_blank"
            disabled>View</a>
          <a mat-stroked-button href="" color="accent" target="_blank" disabled="">Figma</a>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- <div class="col-sm-3 col-md-2">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Angular library versions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>The first framework-specific library, implementing Atmosphere
            as an Angular Material theme and custom Angular components.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button href="https://git.web.boeing.com/design/design-system/dls-global-angular/-/packages"
            color="accent" target="_blank">Code</a>
        </mat-card-actions>
      </mat-card>
    </div> -->

  </div>
</div>
