<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
      <mat-option value="pizza">Pizza</mat-option>
      <mat-option value="tacos">Tacos</mat-option>
      <mat-option value="takoyaki">Takoyaki</mat-option>
  </mat-select>
  <mat-hint>Supporting text</mat-hint>
</mat-form-field>

<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
      <mat-option value="pizza">Pizza</mat-option>
      <mat-option value="tacos">Tacos</mat-option>
      <mat-option value="takoyaki">Takoyaki</mat-option>
  </mat-select>
  <mat-hint>Supporting text</mat-hint>
</mat-form-field>
