

<div class="d-flex align-items-center alert alert-warning" role="alert">
  <mat-icon class="me-2" svgIcon="icon-warning-filled"></mat-icon>
 Label doesn't have correct spacing when entering, transparency in dropdown menu
  </div>

  <mat-form-field>
  <mat-label>Meeting date</mat-label>
  <input matInput [matDatepicker]="datepicker" [(ngModel)]="value">
      <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker #datepicker/>
  <mat-datepicker-toggle [for]="datepicker" matSuffix/>
</mat-form-field>

<br />
<br />

<mat-form-field>
  <mat-label>Meeting time</mat-label>
  <input matInput
    [matTimepicker]="timepicker"
    [(ngModel)]="value"
    [ngModelOptions]="{updateOn: 'blur'}">
  <mat-timepicker #timepicker/>
  <mat-timepicker-toggle [for]="timepicker" matSuffix/>
</mat-form-field>

<!--
    <p>Value: {{value}}</p> -->



<!--
    <mat-form-field>
      <mat-label>Single date</mat-label>
      <input matInput [matDatepicker]="datepicker" [(ngModel)]="value">
          <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker #datepicker />
      <mat-datepicker-toggle [for]="datepicker" matSuffix />
    </mat-form-field> -->
<!--
    <p>Value: {{value}}</p> -->
<br />
<br />

    <mat-form-field>
      <mat-label>Date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>


