  <div class="d-flex align-items-center alert alert-warning" role="alert">
  <mat-icon class="me-2" svgIcon="icon-warning-filled"></mat-icon>
    Odd skewed background on hover for textarea field (enlarge box to see)
</div>

   <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input type="text" [matAutocomplete]="auto" matInput placeholder="Ex. Pizza" value="Sushi">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of options; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
<br />
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>

