.example-chip-list {
  width: 100%;
    min-height: 250px;
}

.mat-mdc-chip-set {
  max-width: 200px;
}
.mat-mdc-chip-set-stacked {
  max-width: 200px;
}

.example-form-field {
  width: 100%;
  min-height: 250px;
}

.example-button-container > button {
  margin: 0 12px;
}

.chips-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--foundation-spacing-xs-fixed);
}
