  <div class="row">
    <div class="col">
      <h5 class="pb-2">To do</h5>
      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="doneList" class="list"
        (cdkDropListDropped)="drop($event)">
        @for (item of todo; track item) {
        <div class="list-item" cdkDrag>{{item}}</div>
        }
      </div>
    </div>

    <div class="col">
      <h5 class="pb-2">Done</h5>
      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="todoList" class="list"
        (cdkDropListDropped)="drop($event)">
        @for (item of done; track item) {
        <div class="list-item" cdkDrag>{{item}}</div>
        }
      </div>
    </div>
  </div>
