@use '@jeppesen-foreflight/dls-global-assets/dist/scss/base/_compositionMixins.scss' as composition;

.content {
  height: 700px;
  max-height: 700px;
  overflow-y: scroll;

.main{
  background-color: var(--foundation-ui-background-low);
  color: var(--foundation-ui-textandicon-high);
  height: 1500px;
  display: flex;
  justify-content: center;
}

}
.glass {
  @include composition.composition-dark-ui-glass-background-blur;

  .theme-light & {
    @include composition.composition-light-ui-glass-background-blur;
  }
  padding: 20px;
  border-radius: 8px; // Optional: for rounded corners
  width: 400px;
  position: fixed;
  top: 30px;
}
