<div class="d-flex align-items-center alert alert-warning" role="alert">
  <mat-icon class="me-2" svgIcon="icon-warning-filled"></mat-icon>
  Should these be text links vs buttons?
</div>
<p class="body-medium-default">Short menu</p>
<ba-breadcrumb [breadcrumbs]="breadcrumbsShort" />
<p class="body-medium-default">Long menu</p>
<ba-breadcrumb [breadcrumbs]="breadcrumbsLong" />

<!-- <ba-breadcrumb [breadcrumbs]="crumbs.slice(0, breadcrumbData)"
  (selectedLink)="onBreadcrumbSelected($event)"></ba-breadcrumb>

<div class="content">
  <p class="body-medium-default">{{ crumbs[breadcrumbData - 1].label }}</p>
  <p>Welcome to {{ crumbs[breadcrumbData - 1].label }}. Click the button below to go to the next level.</p>
  <br>
  <button matButton="filled" (click)="goToNextLevel()" [disabled]="breadcrumbData >= crumbs.length">Next Level</button>
</div> -->