<div class="d-flex">
  <div style="padding-left: 24px; padding-top: 24px" class="align-items-end">
    <mat-icon svgIcon="icon-error"></mat-icon>
  </div>

  <div style="padding-right: 6px; margin-top: 6px;" class="align-items-end ms-auto">
    <button mat-icon-button color="primary" mat-dialog-close="true">
      <mat-icon svgIcon="icon-close"></mat-icon>
    </button>
  </div>
</div>

<h2 mat-dialog-title>Confirm Delete</h2>

<mat-dialog-content>

  <p>Enter the reason for deletion:</p>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Reason for deletion</mat-label>
      <input matInput required>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" mat-dialog-close iconPositionEnd svgIcon="icon-favorite-filled"
    cdkFocusInitial>Delete</button>
</mat-dialog-actions>
