@mixin typography-xl-display-high {
  font-family: "Boeing Meso";
  font-size: 72px;
  font-weight: 300;
  letter-spacing: -0.20000000298023224px;
  line-height: 82px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-display-medium {
  font-family: "Boeing Meso";
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -0.20000000298023224px;
  line-height: 74px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-heading-high {
  font-family: "Boeing Meso";
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 66px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-heading-medium {
  font-family: "Boeing Meso";
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 54px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-heading-low {
  font-family: "Boeing Meso";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 42px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-title-high {
  font-family: "Boeing Meso";
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 34px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-title-medium {
  font-family: "Boeing Meso";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-title-low {
  font-family: "Boeing Meso";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-body-high-default {
  font-family: "Boeing Meso";
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 40px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-body-high-highlight {
  font-family: "Boeing Meso";
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 40px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-body-medium-default {
  font-family: "Boeing Meso";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 28px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-body-medium-highlight {
  font-family: "Boeing Meso";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 28px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-body-low-default {
  font-family: "Boeing Meso";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-body-low-highlight {
  font-family: "Boeing Meso";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-body-lowest-default {
  font-family: "Boeing Meso";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-body-lowest-highlight {
  font-family: "Boeing Meso";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-label-high {
  font-family: "Boeing Meso";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-label-medium {
  font-family: "Boeing Meso";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-label-low {
  font-family: "Boeing Meso";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-label-lowest {
  font-family: "Boeing Meso";
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xl-label-lowest2 {
  font-family: "Boeing Meso";
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-display-high {
  font-size: 64px;
  letter-spacing: -0.20000000298023224px;
  line-height: 74px;
  font-family: "Boeing Meso";
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-display-medium {
  font-size: 56px;
  letter-spacing: -0.20000000298023224px;
  line-height: 64px;
  font-family: "Boeing Meso";
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-heading-high {
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 60px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-heading-medium {
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 48px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-heading-low {
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 38px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-title-high {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 28px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-title-medium {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 24px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-title-low {
  font-size: 16px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-body-high-default {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 34px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-body-high-highlight {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 34px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-body-medium-default {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 24px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-body-medium-highlight {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 24px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-body-low-default {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-body-low-highlight {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-body-lowest-default {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-body-lowest-highlight {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-label-high {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-label-medium {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-label-low {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-label-lowest {
  font-size: 11px;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-l-label-lowest2 {
  font-size: 10px;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-display-high {
  font-size: 56px;
  letter-spacing: -0.10000000149011612px;
  line-height: 64px;
  font-family: "Boeing Meso";
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-display-medium {
  font-size: 50px;
  letter-spacing: -0.10000000149011612px;
  line-height: 58px;
  font-family: "Boeing Meso";
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-heading-high {
  font-size: 46px;
  letter-spacing: 0px;
  line-height: 54px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-heading-medium {
  font-size: 36px;
  letter-spacing: 0px;
  line-height: 44px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-heading-low {
  font-size: 28px;
  letter-spacing: 0px;
  line-height: 34px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-title-high {
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 28px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-title-medium {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 22px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-title-low {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 18px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-body-high-default {
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 30px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-body-high-highlight {
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 30px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-body-medium-default {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-body-medium-highlight {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-body-low-default {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-body-low-highlight {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-body-lowest-default {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-body-lowest-highlight {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-label-high {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-label-medium {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-label-low {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-label-lowest {
  font-size: 11px;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-m-label-lowest2 {
  font-size: 10px;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-display-high {
  font-size: 46px;
  letter-spacing: -0.10000000149011612px;
  line-height: 52px;
  font-family: "Boeing Meso";
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-display-medium {
  font-size: 40px;
  letter-spacing: -0.10000000149011612px;
  line-height: 46px;
  font-family: "Boeing Meso";
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-heading-high {
  font-size: 36px;
  letter-spacing: 0px;
  line-height: 42px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-heading-medium {
  font-size: 28px;
  letter-spacing: 0px;
  line-height: 34px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-heading-low {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 28px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-title-high {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 26px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-title-medium {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-title-low {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 18px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-body-high-default {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 28px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-body-high-highlight {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 28px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-body-medium-default {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-body-medium-highlight {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-body-low-default {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-body-low-highlight {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-body-lowest-default {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-body-lowest-highlight {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-label-high {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-label-medium {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-label-low {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-label-lowest {
  font-size: 11px;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-s-label-lowest2 {
  font-size: 10px;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-display-high {
  font-size: 46px;
  letter-spacing: -0.10000000149011612px;
  line-height: 52px;
  font-family: "Boeing Meso";
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-display-medium {
  font-size: 40px;
  letter-spacing: -0.10000000149011612px;
  line-height: 46px;
  font-family: "Boeing Meso";
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-heading-high {
  font-size: 36px;
  letter-spacing: 0px;
  line-height: 42px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-heading-medium {
  font-size: 28px;
  letter-spacing: 0px;
  line-height: 34px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-heading-low {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 28px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-title-high {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 26px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-title-medium {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-title-low {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 18px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-body-high-default {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 28px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-body-high-highlight {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 28px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-body-medium-default {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-body-medium-highlight {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-body-low-default {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-body-low-highlight {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-body-lowest-default {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-body-lowest-highlight {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-label-high {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-label-medium {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-label-low {
  font-size: 12px;
  letter-spacing: 0.20000000298023224px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-label-lowest {
  font-size: 11px;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

@mixin typography-xs-label-lowest2 {
  font-size: 10px;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  font-family: "Boeing Meso";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}