
<div class="row">
  <div class="col-sm-4 col-md-4">
<h6>Button</h6>
<button mat-stroked-button color="primary" [matMenuTriggerFor]="menuOne">Text Menu
  <mat-icon svgIcon="icon-keyboard-arrow-down" iconPositionEnd></mat-icon>
</button>
<mat-menu #menuOne="matMenu">
  <button mat-menu-item>Menu Item 1</button>
  <button mat-menu-item>Menu Item 2</button>
  <button mat-menu-item>Menu Item 3</button>
  <button mat-menu-item>Menu Item 4</button>
</mat-menu>
</div>


  <div class="col-sm-4 col-md-4">
<h6>Leading icons, divider</h6>

<button mat-icon-button color="primary" [matMenuTriggerFor]="menuTwo" aria-label="Example icon-button with a menu">
  <mat-icon svgIcon="icon-more-vert"></mat-icon>
</button>
<mat-menu #menuTwo="matMenu">
  <button mat-menu-item>
    <mat-icon svgIcon="icon-folder">folder</mat-icon>
    <span>Menu item 1</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon svgIcon="icon-article">article</mat-icon>
    <span>Menu item 2</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon svgIcon="icon-key">key</mat-icon>
    <span>Menu item 3</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="icon-download-filled">download-filled</mat-icon>
    <span>Menu item 4</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="icon-delete">delete</mat-icon>
    <span>Menu item 5</span>
  </button>
</mat-menu>
</div>

  <div class="col-sm-4 col-md-4">

<h6>Nested, trailing text</h6>

<button mat-icon-button color="accent" [matMenuTriggerFor]="menuThree" aria-label="Example icon-button with a menu">
  <mat-icon svgIcon="icon-favorite"></mat-icon>
</button>
<mat-menu #menuThree="matMenu">
  <button mat-menu-item>
    <span>Primary Item 1</span><span class="mat-menu-item__shortcut">⌥⌘L</span>
  </button>
  <button mat-menu-item>Primary Item 1</button>
  <button mat-menu-item [matMenuTriggerFor]="itemThreeLevelTwo">Primary Item 3</button>
  <button mat-menu-item [matMenuTriggerFor]="itemFourLevelTwo">Primary Item 4</button>
</mat-menu>

<mat-menu #itemThreeLevelTwo="matMenu">
  <button mat-menu-item><span>Secondary Item 1</span><span class="mat-menu-item__shortcut">⌘T</span></button>
  <button mat-menu-item><span>Secondary Item 2</span><span class="mat-menu-item__shortcut">⌥⌘L</span></button>
  <button mat-menu-item>Secondary Item 3</button>
  <button mat-menu-item>Secondary Item 4</button>
</mat-menu>

<mat-menu #itemFourLevelTwo="matMenu">
  <button mat-menu-item>Secondary Item 1</button>
  <button mat-menu-item>Secondary Item 2</button>
  <button mat-menu-item>Secondary Item 3</button>
  <button mat-menu-item>Secondary Item 4</button>
</mat-menu>
</div>
</div>
